@import url();
.leaflet-routing-alternatives-container {
    color: black;
}
.leaflet-interactive{
    stroke: blue;
}

h2 {
    line-height: 1rem !important;
    font-weight: bold;
}

h3 {
    line-height: 2rem !important;
}